<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FilmesDB</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <main>
      <nav class="navbar">
        <button @click="currentPage = 'home'">Home</button>
        <button @click="currentPage = 'about'">Sobre</button>
        <button @click="currentPage = 'contact'">Fale Conosco</button>
      </nav>
      <div v-if="currentPage === 'home'">
        <section class="hero-section">
          <div class="container">
            <img src="batmanlogo.png" alt="">
            <div class="infos">
              <div class="badge">
                <span>2020</span>
              </div>
              <div class="badge">
                <span>18</span>
              </div>
               <div class="badge">
                 <span>1h 22min</span>
                </div>
                <div class="badge">
  
                  <span>action</span>
                </div>
            </div>
            <p>Após dois anos espreitando as ruas como Batman, Bruce Wayne se encontra nas profundezas mais sombrias de Gotham City. Com poucos aliados confiáveis, o vigilante solitário se estabelece como a personificação da vingança para a população.</P>
            <div class="buttons">
              <button class="primary-btn">Ver Mais</button>
              <a href="https://www.youtube.com/watch?v=rsQEor4y2hg"><button class="secondary-btn"> >Assistir trailer</button></a>
            </div>
          </div>
        </section>
        <div id="title">
        <h2>Bem-vindo ao FilmesDB!</h2>
      </div>
        <p id="title-text">Explore os filmes mais populares ou busque seus favoritos.</p>
        <div id="search-frame">
        <input 
          type="text" 
          v-model="searchQuery" 
          placeholder="Busque por um filme..." 
          @keyup.enter="fetchMovies"
        />
        </div>
        <div class="search-text" v-if="loading">Carregando...</div>
        <div v-else class="movies-grid">
          <div 
            class="movie-card" 
            v-for="movie in movies" 
            :key="movie.id"
          >
            <img class="poster"
              :src="'https://image.tmdb.org/t/p/w200' + movie.poster_path" 
              :alt="movie.title"
            />
            <h2>{{ movie.title }}</h2>
            <p>Lançamento: {{ movie.release_date }}</p>
            <p>Nota: {{ movie.vote_average }}</p>
            <div v-if="movie.adult">
              <img class="rated" src="maior18.png" alt=""/>
            </div>
          </div>
        </div>
      </div>
      
      <div v-if="currentPage === 'about'">
        <div class="aboutpage">
        <h2>Sobre o MovieDB</h2>
        <p>
          O MovieDB é um site dedicado a trazer informações sobre os seus filmes favoritos. Utilizamos a API publica TMDB para trazer as informações que os fãs desejam.
          Nosso objetivo é conectar amantes de cinema com as informações que eles precisam para explorar o mundo do entretenimento.
        </p>
        <p>
          Sinta-se à vontade para navegar e explorar o MovieDB, o SEU portal de filmes!
        </p>
      </div>
      </div>

      <div v-if="currentPage === 'contact'">

        <div class="">
          <form action="enviar_formulario.php" method="POST">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" name="nome" required placeholder="Digite seu nome">
  
              <label for="email">E-mail:</label>
              <input type="email" id="email" name="email" required placeholder="Digite seu e-mail">
  
              <label for="mensagem">Mensagem:</label>
              <textarea id="mensagem" name="mensagem" rows="6" required placeholder="Digite sua mensagem"></textarea>
  
              <button type="submit">Enviar Mensagem</button>
          </form>
      </div>
      </div>
    </main>
  </div>
  
  <script src="app.js"></script>
</body>
</html>
